:root {
    --color-1:#566c2f;
    --color-2:#0A648B;
    --color-3: #C15213;


    --default-transition: 250ms all ease-in-out;

}

/* Utility Classes */

.light {
    color: white;
}

.bold {
    font-weight: bold;
}

.fade {
    opacity: 70%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
    padding-top: 50px;
}

.left {
    width: 50px; /* Adjust the width as needed */
    background-color: var(--color-1);
    left: 0;
}

.right {
    width: 10%; 
    background-color: var(--color-2);
    right: 0;
    border-left: solid white;
}


.side .flex-col {
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 10px;
    transition: var(--default-transition);
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


body,html {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-1);
}

.wrapper {
    display: flex;
    position: relative;
}

.headings {
    flex: 1;
    padding-left: 300px; /* Adjust the padding as needed */
    padding-top: 300px; /* Adjust the padding as needed */
}

.main-header {
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 0;
}

.role-header {
    font-size: 64px;
    margin-top: 20px;
}

.greeting {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: normal;
}

.contact-icon {
    font-size: 18px;
}

.contact-link {
    text-decoration: none;
    /* to make hover circular */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.contact-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: var(--default-transition);
    /* font-weight: bold; */

}



