:root {
    --color-1:#132019;
    --color-2:#0E86BA;
    --color-3: #C15213;
    --color-4: #FC6F1B;


    --default-transition: 250ms all ease-in-out;

}

section {
    height: 100vh;
    /* color: (--light); */
    padding-top: 30px;
    /* padding-bottom: 50px; */ 
    /* text-align: center; */
    /* background-color: pink; */
}

nav {
  display: flex;
  border-bottom: solid orange;
  padding: 30px;
}


.full-width-section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Utility Classes */

/* Stack */

.stack-sm > * + * {
margin-top: 0.5rem;
}
.stack-md > * + * {
margin-top: 1rem;
}
.stack-lg > * + * {
margin-top: 2rem;
}
.stack-xl > * + * {
margin-top: 4rem;
}

.light {
    color: white;
}

.bold {
    font-weight: bold;
}

.fade {
    opacity: 70%;
}

.center {
    text-align: center;
}

.paragraph {
    color: var(--color-1);
}

.flex {
  display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* padding-left: 30px;
    padding-right: 30px; */
    justify-content: space-between;
    /* max-width: 90%; */
}

.side {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* z-index: 100; */
    padding-top: 50px;
 
}

.left {
    width: 100px; 
    background-color: var(--color-1);
    left: 0;
}

/* .right {
    width: 20%; 
    right: 0;
    border-left: solid orange;
} */


.side .flex-col {
    margin-top: 20px;
}


.nav-link {
    text-decoration: none;
    color: white;
    opacity: 70%;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 10px;
    transition: var(--default-transition);
    margin-left: auto;
}

.nav-link:hover {
    color: white;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* buttons */


.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    display: block;
    margin: 0 auto;
  }

  .link-button {
    color: var(--color-4);
    font-weight: bold;
   
  }

  .link-button:after, .link-button:before {
    content: "";
    background-color: var(--color-4);
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(0.85);
    display: block;
    margin: 0 auto;
  }

    .link-button:hover:before {
      top: 0;
      transform: scale(1);
    }
    .link-button:hover:after {
      transform: scale(1);
    }

    .centre-container {
      display: flex;
      align-items: center;
      justify-content: center; 
      margin-top: 20px;
    }

    .repo-button {
      background-color: white;
      border: solid 2px var(--color-4);
      border-radius: 5px;
      padding: 5px 20px;
     }

    .repo-button:hover {
      background-color: var(--color-4);
      color: white;
      transition: var(--default-transition);
      cursor: pointer;
    }


body,html {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color-1);
    
}


.wrapper {
    display: flex;
    position: relative;
}

.headings {
    flex: 1;
    padding-left: 150px; 
    padding-top: 300px; 
    padding-bottom: 100px;
}

.main-header {
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 0;
}

.role-header {
    font-size: 64px;
    margin-top: 20px;
}

.greeting {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: normal;
}

/* left sidebar */

.contact-icon {
    font-size: 18px;
}

.contact-link {
    text-decoration: none;
    /* to make hover circular */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.contact-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: var(--default-transition);
    /* font-weight: bold; */

}


/* cards */

  
  .card {
    background-color: #ffffff;
    padding: 20px;
    transition: opacity 0.3s ease;
    border-radius: 20px;
     
  }

  .project-card {
    min-width: 80%;
    width: 14rem;
    height: 14rem;
  }

  .project-card-header {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .card-image {
    max-height: 100%;
  }

  .center-card {
    margin-left: auto;
    margin-right: auto;
  }

  .platform-card {
    max-width: 18rem;
    border: 1px solid #000;
    box-shadow: inset 0 0 10px #000;
  }

  .platform-card-header {
    font-size: 30px;
  }
  

  /* .card-1 {
    border-top-left-radius: 60px 100%;
    border-top-right-radius: 10% 40%; 
    border-bottom-left-radius: 186px 100px; 
    border-bottom-right-radius: 60px 100%; 
  }

  .card-2 {
    border-top-left-radius: 186px 100px; 
  border-top-right-radius: 60px 100%;
  border-bottom-left-radius:  60px 100%; 
  border-bottom-right-radius:  10% 40%; 
  } */
  
/* .hover-card {
    opacity: 0.5;
}

  .hover-card:hover {
    opacity: 1;
  } */

  .card-content {
    padding: 10px;
    
  }

  .card-para {
    font-size: 16px;
    padding-bottom: 10px;
  }

.card-header {
    color: var(--color-4);
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.card-image {
    /* display: flex; */
    max-width: 80%;
    justify-content: center;
    display: block;
    margin: 0 auto;
}

.card-hover:hover {
    border: none;
}

/* My Projects */


.section-header {
    font-size: 40px;
}


  /* .tool-logo {
    max-width: 60%;
  }

  .collapsibleContent.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

    .collapsible {
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
      }

    .site-button {
        margin-top: 20px;
    } */

    .link {
        text-decoration: none;
        color: inherit;
    }

    a.link:hover {
        text-decoration: underline dotted 3px var(--color-4);
        text-underline-offset: 5px;
        transition: 250ms all ease-in-out;
    }






    .small-version {
        display: none;
      }
    
      /* .small-version.button {
        display: none;
      }

      .challenges {
        display: none;
        overflow: hidden;
    } */


    @media (max-width:800px) {

        /* Utilities */
           .small-version {
               display: block;
           }
           .small-version.button {
               display: block;
           }
       
           
           .large-version {
               display: none;
           }
           .sub-h1 {
               font-size: 40px;
               margin-bottom: 0;
           }
           .paragraph {
               font-size: 12px;
               padding: 10px;
           }
           .button {
               font-size: 12px;
           }
           .contact-icon {
               font-size: 16px;
               padding-left: 10px;
               padding-right: 10px;
       
           }

    .card-para {
        font-size: 14px;
    }
    
    /* projects */
    .site-video {
        padding: 0;
    }
   
    
    .larger-video {
        margin: 10px;
    }
    }